// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top-list {
  font-family: verdana, arial, helvetica, sans-serif;
  display:block;
  line-weight:18px
}

h1 {
  font-size:2em;
}

p {
  font-size:13px;
  margin:33px;
}

strong {
  font-weight:bold;
}
